
<html>
  <head>
    <meta charset="utf-8">
    <title> <%= title %> </title>
  </head>
  <body>
      <h1> <%= city %> </h1>

      <h2>Total Cases: <%= total %></h2>
      <h2>Active Cases: <%= active %></h2>
      <h2>Recovered: <%= recover %></h2>
      <h2>Death: <%= death%> </h2><br>

      <h1> Today's cases:</h1>
        <h2>Active: <%= todayp%></h2>
        <h2>Recovered: <%= todayn %> </h2>
        <h2>Died: <%= todayd%> </h2>

        <a href="/">
          <button type="button" name="HomePage">Go to Home Page </button>
        </a>

  </body>
</html>
